
services:
  postgres:
    container_name: postgres
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - .env
    networks:
      - net-mysystemdown

  api:
    depends_on:
      - postgres
    container_name: api
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - net-mysystemdown

networks:
  net-mysystemdown:
    name: net-mysystemdown
    driver: bridge